<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:fs="http://www.wueasy.com">
<head>
	<head th:include="layout :: header" th:remove="tag"/>
	<div th:include="layout :: frame" th:remove="tag"/>
</head>
<body>

<div class="layui-fluid">  
<div class="layui-card">
<div class="layui-card-body">
<form class="layui-form" isLoad="0" loadFuncNo="">
  <div class="layui-form-item">
    <label class="layui-form-label" style="width: 100px;"><i class="required">*</i>枚举key：</label>
    <div class="layui-input-block" style="margin-left: 140px;">
      <input type="text" name="itemKey" required="" lay-verType="tips" lay-verify="required" placeholder="请输入枚举key" autocomplete="off" class="layui-input"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label" style="width: 100px;"><i class="required">*</i>枚举value：</label>
    <div class="layui-input-block" style="margin-left: 140px;">
      <input type="text" name="itemValue" required="" lay-verType="tips" lay-verify="required" placeholder="请输入枚举value" autocomplete="off" class="layui-input"/>
    </div>
  </div>
  <div class="layui-form-item" style="display:none; ">
    <div class="layui-input-inline">
     <input type="hidden" name="enumTypeId" required="" lay-verType="tips" placeholder="" autocomplete="off" class="layui-input" disabled=""/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label" style="width: 100px;"><i class="required">*</i>状态：</label>
    <div class="layui-input-block" style="margin-left: 140px;">
      <input type="checkbox" name="state" lay-skin="switch" lay-text="有效|无效" checked="checked" value="1"/>
    </div>
  </div>
  <div class="layui-form-item layui-form-text">
    <label class="layui-form-label" style="width: 100px;">描述：</label>
    <div class="layui-input-block" style="margin-left: 140px;">
      <textarea name="description" placeholder="请输入描述" lay-verType="tips" class="layui-textarea"></textarea>
    </div>
  </div>
  <hr/>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit="" lay-filter="submit" fs:authorize="" funcNo="S1041"><i class="layui-icon layui-icon-add-circle-fine"></i>新增</button>
      <button type="button" class="layui-btn layui-btn-primary" function="close">关闭</button>
    </div>
  </div>
</form>
</div>
</div>
</div>
</body>
</html>