<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:fs="http://www.wueasy.com">
<head>
	<head th:include="layout :: header" th:remove="tag"/>
	<div th:include="layout :: frame" th:remove="tag"/>
</head>
<body>
<div class="layui-fluid">  
<div class="layui-card">
<div class="layui-card-body">
	<div class="layui-row layui-col-space10">
        <div class="layui-field-box">
        	<div class="layui-row layui-col-space10">
        		<div class="layui-col-md12">
        			<form id="form1" style="display: none;">
        				<input type="hidden" id="siteId" name="siteId"/>
        			</form>
        			<div class="layui-btn-group">
						<button class="layui-btn layui-btn-sm fsTree" funcNo="T1018" fs:authorize="" function="saveCataLog" treeId="treeDemo" paramColumn="catalogList" rootIdColumn="siteId">
						  <i class="fa fa-floppy-o" aria-hidden="true"></i> 保存
						</button>
					</div>
        		</div>
        		<div class="layui-col-md12">
        			<blockquote class="layui-elem-quote layui-quote-nm">温馨提示：拖动调整排序和结构。</blockquote>
        			<ul id="treeDemo" class="ztree fsTree" fs:authorize="" funcNo="T1017" isDrag="1" isRoot="0" treeIdKey="catalogId" treePIdKey="parentId" treeName="catalogName" inputs="siteId:"></ul>
        		</div>
        	</div>
	  </div>
  </div>
</div>
</div>
</div>
</body>
</html>