<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:fs="http://www.wueasy.com">
<head>
	<head th:include="layout :: header" th:remove="tag"/>
	<div th:include="layout :: frame" th:remove="tag"/>
</head>
<body>

<div class="layui-fluid">  
<div class="layui-card">
<div class="layui-card-body">
<form class="layui-form" isLoad="0" loadFuncNo="">
	<input type="hidden" name="menuId" autocomplete="off" class="layui-input"/>
  <div class="layui-form-item">
    <label class="layui-form-label"><i class="required">*</i>按钮名称</label>
    <div class="layui-input-block">
      <input type="text" name="name" required="" lay-verType="tips" lay-verify="required" placeholder="请输入按钮名称" autocomplete="off" class="layui-input"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">访问地址</label>
    <div class="layui-input-block">
      <input type="text" name="linkUrl" placeholder="请输入访问地址" lay-verType="tips" autocomplete="off" class="layui-input"/>
    </div>
  </div>
  <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">功能号集合</label>
    <div class="layui-input-inline">
      <textarea name="funcs" placeholder="请输入功能号集合" lay-verType="tips" class="layui-textarea"></textarea>
    </div>
     <div class="layui-form-mid layui-word-aux">多个,号分割</div>
  </div>
  <hr/>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit="" lay-filter="submit" fs:authorize="" funcNo="S1018">新增</button>
      <button type="button" class="layui-btn layui-btn-primary" function="close">关闭</button>
    </div>
  </div>
</form>
</div>
</div>
</div>
</body>
</html>