<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:fs="http://www.wueasy.com">
<head>
	<head th:include="layout :: header" th:remove="tag"/>
	<div th:include="layout :: frame" th:remove="tag"/>
</head>
<body>
  <div class="layui-fluid">  
  <div class="layui-row layui-col-space10">
    <div class="layui-col-md3">
    	<div class="layui-card">
    		<div class="layui-card-header">菜单管理</div>
    		<div class="layui-card-body">
    			<blockquote class="layui-elem-quote layui-quote-nm layui-quote-warn">温馨提示：鼠标点击右键即可进行菜单管理</blockquote>
       			<ul id="treeDemo" class="ztree fsTree" fs:authorize="" isRoot="0" funcNo="S1012" clickCallbackId="fsDatagrid" clickCallbackInputs="menuId:" treeIdKey="menuId" treePIdKey="parentId" treeName="menuName" ></ul>
       			<div class="fsTreeRightMenu">
       				<p function="refresh" icon="refresh" name="刷新"></p>
       				<p function="top" icon="add" name="新增" fs:authorize="" th:topUrl="@{/frame/system-menu-add}" topUrl="/frame/system-menu-add" topWidth="700px" topHeight="475px" topTitle="新增菜单信息" inputs="parentId:$menuId,groupId:"></p>
       				<p function="top" icon="edit" name="编辑" fs:authorize="" th:topUrl="@{/frame/system-menu-edit}" topUrl="/frame/system-menu-edit" topWidth="700px" topHeight="475px" topTitle="编辑菜单信息" inputs="menuId:" disabledType="rootNode"></p>
       				<p function="top" icon="edit" name="调整菜单结构" fs:authorize="" th:topUrl="@{/frame/system-menu-editCatalog}" topUrl="/frame/system-menu-editCatalog" topWidth="500px" topHeight="400px" topTitle="调整菜单结构" inputs="groupId:"></p>
       				<p function="submit" icon="del" name="删除" fs:authorize="" funcNo="S1016" isConfirm="1" confirmMsg="是否确定删除？" inputs="menuId:" disabledType="parent|rootNode"></p>
       			</div>
    		</div>
		  </div>
    </div>
    
    <div class="layui-col-md9">
    	<div class="layui-card">
    		<div class="layui-card-header">按钮资源管理</div>
    		<div class="layui-card-body">
		    	<div id="table_buttion_div">
		    		<form id="query_form" style="display: none;">
		    			<input type="text" id="menuId" name="menuId" value=""/>
		    		</form>
			    	<button class="layui-btn layui-btn-sm" function="top" fs:authorize="" selectTreeId="menuId" th:topUrl="@{/frame/system-menu-addFunc}" topUrl="/frame/system-menu-addFunc" topWidth="700px" topHeight="370px" topTitle="新增按钮信息" inputs="menuId:#menuId">
					  <i class="layui-icon layui-icon-add-1"></i>新增
					</button>
					<button class="layui-btn layui-btn-sm" function="refresh" selectTreeId="menuId">
					  <i class="layui-icon layui-icon-refresh-1"></i>刷新
					</button>
		    	</div>
				<table id="fsDatagrid" class="fsDatagrid" lay-filter="fsDatagrid" fs:authorize="" funcNo="S1017" isPage="0" isLoad="0" defaultForm="query_form" height="full-130">
				</table>
				
				<div class="fsDatagridCols">
					<p type="numbers" title="#"/>
					<p checkbox="true"/>
				    <p field="name" title="按钮名称" width="200" sort="true"/>
				    <p field="linkUrl" title="访问地址" width="300"/>
				    <p field="funcs" title="功能号" width="200"/>
				    <p fixed="right" align="center" toolbar="#barDemo" title="操作" width="150"/>
				</div>
				
				<script type="text/html" id="barDemo">
				 <a id="edit" class="layui-btn layui-btn-xs" lay-event="top" fs:authorize="" th:topUrl="@{/frame/system-menu-editFunc}"  topUrl="/frame/system-menu-editFunc" topWidth="700px" topHeight="370px" isSelect="1" topTitle="编辑按钮信息" inputs="id:"><i class="layui-icon layui-icon-edit"></i>编辑</a>
  				 <a id="del" class="layui-btn layui-btn-danger layui-btn-xs" fs:authorize="" lay-event="submit" isConfirm="1" funcNo="S1021" inputs="id:"><i class="layui-icon layui-icon-delete"></i>删除</a>
				</script>
    		</div>
    	</div>
    </div>
  </div>
</div>
</body>
</html>