<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:fs="http://www.wueasy.com">
<head>
	<head th:include="layout :: header" th:remove="tag"/>
	<div th:include="layout :: frame" th:remove="tag"/>
</head>
<body>
  <div class="layui-fluid">  
  <div class="layui-row layui-col-space10">
    <div class="layui-col-md3">
    	<div class="layui-card">
    		<div class="layui-card-header">组织机构管理</div>
    		<div class="layui-card-body">
    			<blockquote class="layui-elem-quote layui-quote-nm layui-quote-warn">温馨提示：鼠标点击右键即可进行组织机构管理</blockquote>
    			<ul id="treeDemo" class="ztree fsTree" fs:authorize="" funcNo="S1060" clickCallbackId="fsDatagrid" clickCallbackInputs="orgId:$id" treeIdKey="id" treePIdKey="parentId" treeName="orgName"></ul>
<!--          	鼠标右键菜单配置 -->
       			<div class="fsTreeRightMenu">
       				<p function="refresh" icon="refresh" name="刷新"></p>
       				<p function="top" icon="add" name="新增" fs:authorize="" th:topUrl="@{/frame/system-org-add}" topUrl="/frame/system-org-add" topWidth="700px" topHeight="380px" topTitle="新增组织机构信息" inputs="parentId:$id"></p>
       				<p function="top" icon="edit" name="编辑" fs:authorize="" th:topUrl="@{/frame/system-org-edit}" topUrl="/frame/system-org-edit" topWidth="700px" topHeight="380px" topTitle="编辑组织机构信息" inputs="id:" disabledType="rootNode"></p>
       				<p function="submit" icon="del" name="删除" fs:authorize="" funcNo="S1064" isConfirm="1" confirmMsg="是否确定删除？" inputs="id:" disabledType="parent|rootNode"></p>
       			</div>
    		</div>
    	</div>
    </div>
    
    <div class="layui-col-md9">
    	<div class="layui-card">
    		<div class="layui-card-header">组织机构用户管理</div>
    		<div class="layui-card-body">
    			<div>
		    		<form id="query_form">
		    			<input type="hidden" id="orgId" name="orgId" value=""/>
		    			<div class="layui-form-item">
							<div class="layui-inline">
								<label class="layui-form-mid">登录名：</label>
								<div class="layui-input-inline" style="width: 100px;">
									<input type="text" name="loginNo" autocomplete="off" class="layui-input"/>
								</div>
							</div>
							<div class="layui-inline">
								<label class="layui-form-mid">姓名：</label>
								<div class="layui-input-inline" style="width: 100px;">
									<input type="text" name="username" autocomplete="off" class="layui-input"/>
								</div>
							</div>
							<div class="layui-inline">
								<div class="layui-input-inline">
									<button class="layui-btn layui-btn-sm" type="button" function="query"><i class="layui-icon layui-icon-search"></i>查询</button>
								</div>
							</div>
						</div>
		    		</form>
			    	<button class="layui-btn layui-btn-sm" fs:authorize="" function="top" selectTreeId="orgId" th:topUrl="@{/frame/system-org-userList}" topUrl="/frame/system-org-userList" topWidth="800px" topHeight="430px" topTitle="用户列表" inputs="orgId:#orgId">
					  <i class="layui-icon layui-icon-add-1"></i>选择用户
					</button>
					<button class="layui-btn layui-btn-sm layui-btn-danger" fs:authorize="" selectTreeId="orgId" function="submit" funcNo="S1068" isMutiDml="1" isConfirm="1" inputs="id:">
					  <i class="layui-icon layui-icon-delete"></i>删除用户
					</button>
					<button class="layui-btn layui-btn-sm" function="refresh" selectTreeId="orgId">
					  <i class="layui-icon layui-icon-refresh-1"></i>刷新
					</button>
		    	</div>
		    	<table id="fsDatagrid" class="fsDatagrid" lay-filter="fsDatagrid" fs:authorize="" funcNo="S1065" isPage="1" isLoad="0" defaultForm="query_form" height="full-180">
				</table>
				
				<div class="fsDatagridCols">
					<p type="numbers" title="#"/>
					<p checkbox="true"/>
				    <p field="loginNo" title="登录名" width="200" sort="true"/>
				    <p field="username" title="用户姓名" width="300"/>
				</div>
    		</div>
    	</div>
    </div>
  </div>
</div>
</body>
</html>