<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:fs="http://www.wueasy.com">
<head>
	<head th:include="layout :: header" th:remove="tag"/>
	<div th:include="layout :: frame" th:remove="tag"/>
</head>
<body>

<div class="layui-fluid">
  <div class="layui-row layui-col-space1">
  	 <div class="layui-col-md12">
  	 	<div class="layui-card">
  	 	<div class="layui-card-body">
  	  		<div class="layui-form-query">
				<form class="layui-form" id="query_form">
					<div class="layui-form-item">
						
						<div class="layui-inline">
							<label class="layui-form-mid">站点：</label>
							<div class="layui-input-inline" style="width: 100px;">
								<select name="siteId" class="fsDict" lay-filter="siteId" dict="templateSite" addNull="1"></select>
							</div>
						</div>
						<div class="layui-inline">
							<div class="layui-input-inline">
								<button class="layui-btn" type="button" function="query"><i class="layui-icon layui-icon-search"></i>查询</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div id="table_buttion_div">
		    	<button class="layui-btn" function="top" fs:authorize="" th:topUrl="@{/frame/system-template-publish-plan-add}" topUrl="/frame/system-template-publish-plan-add" topWidth="700px" topHeight="435px" isMaxWindow="" topTitle="新增发布计划">
				  <i class="layui-icon layui-icon-add-1"></i>新增
				</button>
				<button class="layui-btn" function="refresh">
				  <i class="layui-icon layui-icon-refresh-1"></i>刷新
				</button>
	    	</div>
	    	<table id="fsDatagrid" class="fsDatagrid" lay-filter="fsDatagrid" funcNo="T1025" isPage="1" defaultForm="query_form"></table>
			<div class="fsDatagridCols">
				<p type="numbers" title="#"/>
			    <p field="id" title="ID" width="100"/>
			    <p field="siteId" title="站点" width="100" dict="templateSite"/>
			    <p field="catalogId" title="栏目" width="200" dict="templateCatalog"/>
			    <p field="cron" title="cron表达式" width="200" />
			    <p field="recursion" title="发布子栏目" width="150" dict="whether"/>
			    <p fixed="right" align="center" toolbar="#barDemo" title="操作" width="280"/>
			</div>
			<script type="text/html" id="barDemo">
				<a id="edit" class="layui-btn layui-btn-xs" lay-event="top" fs:authorize="" th:topUrl="@{/frame/system-template-publish-plan-edit}" topUrl="/frame/system-template-publish-plan-edit" topWidth="700px" topHeight="435px" isSelect="1" topTitle="编辑发布计划" inputs="id:,siteId:"><i class="layui-icon layui-icon-edit"></i>编辑</a>
  				<a id="del" class="layui-btn layui-btn-danger layui-btn-xs" fs:authorize="" lay-event="submit" isConfirm="1" funcNo="T1029" inputs="id:"><i class="layui-icon layui-icon-delete"></i>删除</a>
			</script>
			
		</div>
	</div>
	</div>
  </div>
</div>
</body>
</html>