<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
<![CDATA[
   wueasy - A Java Distributed Rapid Development Platform.
   Copyright (C) 2017-2018 wueasy.com
   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as published
   by the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <https://www.gnu.org/licenses/>.
]]>
-->
<mapper namespace="com.wueasy.admin.mapper.SysAuthDataModelMapper">
  <resultMap id="BaseResultMap" type="com.wueasy.admin.entity.SysAuthDataModel">
    <id column="model_id" property="modelId" />
    <result column="model_no" property="modelNo" />
    <result column="model_name" property="modelName" />
    <result column="service_name" property="serviceName" />
    <result column="func_nos" property="funcNos" />
    <result column="field" property="field" />
  </resultMap>
  
  <sql id="Base_Column_List">
  	model_id
  	,model_no
  	,model_name
  	,service_name
  	,func_nos
  	,field
  </sql>
  
  
  <select id="select" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_auth_data_model where 
     model_id = #{modelId,typeHandler=LongTypeHandler}
  </select>
  
  <select id="queryList" resultMap="BaseResultMap">
    select 
    model_id
  	,model_no
  	,model_name
    from sys_auth_data_model 
      order by model_id asc
  </select>
  
  <select id="queryListAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_auth_data_model 
      order by model_id asc
  </select>
  
  <delete id="delete">
    delete from sys_auth_data_model
    where 
       model_id = #{modelId,typeHandler=LongTypeHandler}
  </delete>
  
  
  <delete id="deleteMultiple">
    delete from sys_auth_data_model
    where 
    <bind name="modelIds" value="_parameter.get('modelId').split(',')" />
    
    <foreach collection="modelIds" item="item" index="index" open="" close="" separator="OR">
      model_id = #{item,typeHandler=LongTypeHandler}
    </foreach>
  </delete>
  
  
  <insert id="insert">
    insert into sys_auth_data_model (
  	model_id
  	,model_no
  	,model_name
  	,service_name
  	,func_nos
    )
    values (
  	 #{modelId,typeHandler=LongTypeHandler}
  	, #{modelNo}
  	, #{modelName}
  	, #{serviceName}
  	, #{funcNos}
    )
  </insert>
  
  <update id="update">
    update sys_auth_data_model
    set 
       model_no = #{modelNo}
      , model_name = #{modelName}
      , service_name = #{serviceName}
      , func_nos = #{funcNos}
    where
       model_id = #{modelId,typeHandler=LongTypeHandler}
  </update>
  
  
</mapper>