<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
<![CDATA[
   wueasy - A Java Distributed Rapid Development Platform.
   Copyright (C) 2017-2018 wueasy.com
   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as published
   by the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <https://www.gnu.org/licenses/>.
]]>
-->
<mapper namespace="com.wueasy.admin.mapper.SysGroupMapper">
  <resultMap id="BaseResultMap" type="com.wueasy.admin.entity.SysGroup">
    <id column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="font_icon" jdbcType="VARCHAR" property="fontIcon" />
  </resultMap>
  <sql id="Base_Column_List">
    group_id, group_name, font_icon
  </sql>
  <select id="query" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_group 
    where 1=1 
    <if test="groupIdSet != null">
    	and 
    	(
   		 <foreach collection="groupIdSet" item="item" index="index" open="" close="" separator="OR">
            group_id = #{item,typeHandler=LongTypeHandler}
         </foreach>
         )
  	</if>
    order by group_id asc
  </select>
</mapper>