<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
<![CDATA[
   wueasy - A Java Distributed Rapid Development Platform.
   Copyright (C) 2017-2018 wueasy.com
   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as published
   by the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <https://www.gnu.org/licenses/>.
]]>
-->
<mapper namespace="com.wueasy.admin.mapper.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.wueasy.admin.entity.SysRole">
    <id column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="route" jdbcType="VARCHAR" property="route" />
    <result column="orderline" jdbcType="BIGINT" property="orderline" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modified_by" jdbcType="BIGINT" property="modifiedBy" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    role_id, role_name, parent_id, description, route, orderline, created_by, created_time, 
    modified_by, modified_time
  </sql>
  
  <select id="query" resultMap="BaseResultMap">
    select 
    role_id, role_name, parent_id
    from sys_role
    order by orderline asc,role_id asc
  </select>
  
  <select id="select" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where role_id = #{roleId,typeHandler=LongTypeHandler}
  </select>
  
  <delete id="delete">
    delete from sys_role
    where role_id = #{roleId,typeHandler=LongTypeHandler}
  </delete>
  
  
  <insert id="insert">
    insert into sys_role (role_name, parent_id, 
      description, route, orderline, 
      created_by, created_time, modified_by, 
      modified_time)
    values (#{roleName,jdbcType=VARCHAR}, #{parentId,typeHandler=LongTypeHandler}, 
      #{description,jdbcType=VARCHAR}, #{route,jdbcType=VARCHAR}, #{orderline,typeHandler=LongTypeHandler}, 
      #{createdBy,typeHandler=LongTypeHandler}, #{createdTime,jdbcType=TIMESTAMP}, #{modifiedBy,typeHandler=LongTypeHandler}, 
      #{modifiedTime,jdbcType=TIMESTAMP})
  </insert>
  
  
  <update id="update">
    update sys_role
    set role_name = #{roleName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      route = #{route,jdbcType=VARCHAR},
      orderline = #{orderline,typeHandler=LongTypeHandler},
      modified_by = #{modifiedBy,typeHandler=LongTypeHandler},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where role_id = #{roleId,typeHandler=LongTypeHandler}
  </update>
  
  
</mapper>