<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
<![CDATA[
   wueasy - A Java Distributed Rapid Development Platform.
   Copyright (C) 2017-2018 wueasy.com
   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as published
   by the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <https://www.gnu.org/licenses/>.
]]>
-->
<mapper namespace="com.wueasy.admin.mapper.SysUserLoginLogMapper">
  <resultMap id="BaseResultMap" type="com.wueasy.admin.entity.SysUserLoginLog">
    <id column="id" property="id" />
    <result column="login_no" property="loginNo" />
    <result column="ip" property="ip" />
    <result column="type" property="type" />
    <result column="login_type" property="loginType" />
    <result column="created_time" property="createdTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, login_no, ip, type,login_type, created_time
  </sql>
  
  <select id="queryPage" resultMap="BaseResultMap">
  	
    select <include refid="Base_Column_List" /> from sys_user_login_log where 1=1 
     <if test="loginNo != null and loginNo!=''">
     	 <bind name="pattern" value="'%' + _parameter.get('loginNo') + '%'" />
         and login_no  LIKE #{pattern}
     </if>
     <if test="loginType != null and loginType!=''">
         and login_type = #{loginType}
     </if>
     <if test="startDate != null">
         and created_time &gt;= #{startDate}
     </if>
     
     <if test="endDate != null">
         and created_time &lt;= #{endDate}
     </if>
     order by id desc
  </select>
  
  <select id="queryUserLogCount" resultType="Integer">
  	select count(1) from sys_user_login_log where login_no = #{loginNo} and type = '3' and created_time &gt;= #{createdTime} 
  	and id > (select COALESCE(max(id),0) from sys_user_login_log where login_no =#{loginNo} and type = '1' and created_time &gt;= #{createdTime})
  </select>
  
  <insert id="insert" parameterType="com.wueasy.admin.entity.SysUserLoginLog">
    insert into sys_user_login_log (login_no, ip, 
      type,login_type, created_time)
    values (#{loginNo,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, 
      #{type,jdbcType=CHAR},#{loginType}, #{createdTime,jdbcType=TIMESTAMP})
  </insert>
  
</mapper>