<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
<![CDATA[
   wueasy - A Java Distributed Rapid Development Platform.
   Copyright (C) 2017-2018 wueasy.com
   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as published
   by the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <https://www.gnu.org/licenses/>.
]]>
-->
<mapper namespace="com.wueasy.admin.mapper.TemplateSiteMapper">
  <resultMap id="BaseResultMap" type="com.wueasy.admin.entity.TemplateSite">
    <id column="site_id" property="siteId" />
    <result column="site_no" property="siteNo" />
    <result column="site_name" property="siteName" />
    <result column="state" property="state" />
    <result column="description" property="description" />
    <result column="created_by" property="createdBy" />
    <result column="created_time" property="createdTime" />
    <result column="modified_by" property="modifiedBy" />
    <result column="modified_time" property="modifiedTime" />
  </resultMap>
  
  <sql id="Base_Column_List">
  	site_id
  	,site_no
  	,site_name
  	,state
  	,description
  	,created_by
  	,created_time
  	,modified_by
  	,modified_time
  </sql>
  
  
  <select id="select" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from template_site where 
     site_id = #{siteId,typeHandler=LongTypeHandler}
  </select>
  
  <select id="selectBySiteNo" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from template_site where 
     site_no = #{siteNo}
  </select>
  
  <select id="query" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from template_site where 1=1 
      <if test="siteNo != null and siteNo != ''">
        and site_no = #{siteNo}
      </if>
      <if test="siteName != null and siteName != ''">
        and site_name = #{siteName}
      </if>
      <if test="state != null and state != ''">
        and state = #{state}
      </if>
      order by site_id asc
  </select>
  
  <delete id="delete">
    delete from template_site
    where 
       site_id = #{siteId,typeHandler=LongTypeHandler}
  </delete>
  
  
  <delete id="deleteMultiple">
    delete from template_site
    where 
    <bind name="siteIds" value="_parameter.get('siteId').split(',')" />
    
    <foreach collection="siteIds" item="item" index="index" open="" close="" separator="OR">
      site_id = #{item,typeHandler=LongTypeHandler}
    </foreach>
  </delete>
  
  
  <insert id="insert">
    insert into template_site (
  	site_no
  	,site_name
  	,state
  	,description
  	,created_by
  	,created_time
  	,modified_by
  	,modified_time
    )
    values (
  	#{siteNo}
  	, #{siteName}
  	, #{state}
  	, #{description}
  	, #{createdBy,typeHandler=LongTypeHandler}
  	, #{createdTime}
  	, #{modifiedBy,typeHandler=LongTypeHandler}
  	, #{modifiedTime}
    )
  </insert>
  
  <update id="update">
    update template_site
    set 
       site_no = #{siteNo}
      , site_name = #{siteName}
      , state = #{state}
      , description = #{description}
      , modified_by = #{modifiedBy,typeHandler=LongTypeHandler}
      , modified_time = #{modifiedTime}
    where
       site_id = #{siteId,typeHandler=LongTypeHandler}
  </update>
  
  <select id="queryList" resultMap="BaseResultMap">
    select 
    site_id
  	,site_no
  	,site_name
  	,state
    from template_site where state = '1'
      order by site_id asc
  </select>
  
</mapper>