<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wueasy.demo.mapper.DemoFunctionParamMapper">
  <resultMap id="BaseResultMap" type="com.wueasy.demo.entity.DemoFunctionParam">
    <id column="id" property="id" />
    <result column="func_id" property="funcId" />
    <result column="attribute" property="attribute" />
    <result column="name" property="name" />
    <result column="not_empty" property="notEmpty" />
    <result column="verify_type" property="verifyType" />
    <result column="max_length" property="maxLength" />
    <result column="min_length" property="minLength" />
    <result column="value" property="value" />
    <result column="default_value" property="defaultValue" />
    <result column="description" property="description" />
    <result column="orderline" property="orderline" />
    <result column="type" property="type" />
    <result column="created_by" property="createdBy" />
    <result column="created_time" property="createdTime" />
    <result column="modified_by" property="modifiedBy" />
    <result column="modified_time" property="modifiedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, func_id, attribute, name, not_empty, verify_type, max_length, min_length, value, 
    default_value, description, orderline, type, created_by, created_time, modified_by, 
    modified_time
  </sql>
  
  <select id="queryList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from demo_function_param
    where func_id = #{funcId}
    <if test="attribute != null and attribute != ''">
     	 <bind name="pattern_attribute" value="'%' + _parameter.get('attribute') + '%'" />
         and attribute  LIKE #{pattern_attribute}
     </if>
     <if test="name != null and name != ''">
     	 <bind name="pattern_name" value="'%' + _parameter.get('name') + '%'" />
         and name  LIKE #{pattern_name}
     </if>
     order by orderline asc
  </select>
  
  <select id="selectById" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from demo_function_param
    where id = #{id}
  </select>
  
  <select id="selectByFuncAttribute" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from demo_function_param
    where func_id = #{funcId} and attribute = #{attribute}
  </select>
  
  <delete id="delete">
    delete from demo_function_param
    where id = #{id}
  </delete>
  
  <delete id="deleteAll">
    delete from demo_function_param
    where func_id = #{funcId}
  </delete>
  
  <insert id="insert">
    insert into demo_function_param (func_id, attribute, 
      name, not_empty, verify_type, 
      max_length, min_length, value, 
      default_value, description, orderline, 
      type, created_by, created_time, 
      modified_by, modified_time)
    values (#{funcId}, #{attribute}, 
      #{name}, #{notEmpty}, #{verifyType}, 
      #{maxLength}, #{minLength}, #{value}, 
      #{defaultValue}, #{description}, #{orderline}, 
      #{type}, #{createdBy}, #{createdTime}, 
      #{modifiedBy}, #{modifiedTime})
  </insert>
  
  <update id="update">
    update demo_function_param
    set 
      attribute = #{attribute},
      name = #{name},
      not_empty = #{notEmpty},
      verify_type = #{verifyType},
      max_length = #{maxLength},
      min_length = #{minLength},
      value = #{value},
      default_value = #{defaultValue},
      description = #{description},
      orderline = #{orderline},
      modified_by = #{modifiedBy},
      modified_time = #{modifiedTime}
    where id = #{id}
  </update>
</mapper>